body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20;
}

fieldset{
    border: 1px;
    border-width:1px;
    border-style:solid;
    border-color:black;
    width: auto;
    display: inline-block;
    padding: 20px;
}

legend{
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 5px;
}

.separator{
    font-weight: bold;
}

input[type="submit"]{
    padding: 2px 10px;
    background-color: #E5E4E2;
    cursor: pointer;
}
input[type="text"]{
    width: 40px;
    padding: 5px;
    margin-top: 5px;

    cursor: pointer;
}