body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

fieldset{
    border: 1px;
    border-style:solid;
    border-color:black;
    border-width: 1px;
    width:auto;
    display: inline-block;
    padding: 10px;
    
}

input[type="submit"]{
    padding:3px 20px;
    
}

hr{
    font-weight:bold;
}
