body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

fieldset{
    border:1px;
    border-width:1px;
    border-style:solid;
    border-color:black;
    width:auto;
    height: auto;
    display:inline-block;
    padding:10px;
    margin: 0;
}

legend{
    font-weight:bold;
    font-size: 1.1em;
}

input[type="checkbox"]{
    padding:2px 2px;
    background-color: white;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

input[type="submit"]{

    padding: 3px 8px;
    margin-top: 10px;

}